.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  font-size: 5rem;
  text-align: center;
  background-image: url('/img/background_mainPage.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Asegura que toda la imagen sea visible */
  background-position: center;
}

.decortaionLightsContainer__topPage {
  margin: -1.5rem -2rem 0.5rem -2rem;
}

.decortaionLightsContainer__topPage img{
  width: 100%;
  height: 100px;
}

.names {
  font-size: 11rem;
  color: var(--text-color_mainPage);
  font-family: var(--font-titles_secondary) !important;
  text-rendering: optimizeLegibility; 
}

.title {
  font-size: 3rem;
  color: var(--text-color_mainPage);
  font-family: var(--font-subtitles);
}

.paragraph {
  background-color: rgba(32, 41, 42, 0.23);
  border-radius: 0.5rem;
  color: var(--text-color_mainPage);
  padding: 20px;
  font-size: 2rem;
  font-family: var(--font-body);
  width: 100%; /* Asegúrate de que el párrafo ocupe todo el ancho disponible */
}

.farewell {
  font-size: 3rem;
  color: var(--text-color_mainPage);
  font-family: var(--font-subtitles);
}

.decorationLightsContainer__midPage {
  margin: -1.5rem -1.5rem 0.5rem -2rem;
}

.decorationLightsContainer__midPage img{
  max-width: 100%;
  width: 100vw;
  height: 100px;
  transform: scaleX(-1) rotate(-5deg);
}

.bibleVerse {
  font-size: 3.5rem;
  color: var(--text-color_mainPage);
}

.verse {
  font-family: var(--font-body);
}

.verseNumber {
  font-family: var(--font-subtitles);
  margin-top: 0.7rem;
}

.decorationLightsContainer__bottomPage {
  margin: -1.8rem -2rem 0.5rem -2rem;
}

.decorationLightsContainer__bottomPage img{
  width: 100%;
  height: 100px;
  transform: scaleX(-1);
}

.dressCode h2 {
  font-size: 4rem;
  margin-top: 3rem;
  color: #20292a;
  font-family: var(--font-subtitles);
}

.dressCode p { 
  font-size: 2.5rem;
  font-family: var(--font-body);
  color: var(--text-color_mainPage);
}



.forbiddenColors h2{
  font-size: 3rem;
  margin-top: 1.5rem;
  color: #20292a;
  font-family: var(--font-subtitles);
}

.giftTable {
  text-align: center;
  margin: 2rem 0;
}

.giftTable__title {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-subtitles);
  color: #20292a;
}

.linkTablesContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.linkTable img {
  width: 10rem;
  height: 10rem;
  background-color: #595959; /* Similar a los íconos de la imagen */
  border-radius: 1.5rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.linkTable img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}