@font-face {
  font-family: 'AmoresaAged';
  src: url('/fonts/Andrey Sharonov - Amoresa Aged.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap; /* Recomendado para mejorar la carga de fuentes */
}

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-titles: 'AmoresaAged', sans-serif;
  --font-body: 'GeneralSans', sans-serif;
  --font-subtitles: 'Boska', sans-serif; 
  --text-color: #caccc0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Ajuste correcto de la unidad rem (10px) */
}
