/* */

@font-face {
  font-family: 'AmoresaAged';
  src: url('/fonts/AndreySharonov-AmoresaAged.woff2') format('woff2'),
       url('/fonts/AndreySharonov-AmoresaAged.woff') format('woff'),
       url('/fonts/AndreySharonov-AmoresaAged.ttf') format('truetype'),
       url('/fonts/AndreySharonov-AmoresaAged.otf') format('opentype');
  font-weight: 410;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska-Regular.woff2') format('woff2'),
       url('/fonts/Boska-Regular.woff') format('woff'),
       url('/fonts/Boska-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('/fonts/GeneralSans-Regular.woff') format('woff'),
       url('/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Famulred';
  src: url('/fonts/Famulred.woff2') format('woff2'),
       url('/fonts/Famulred.woff') format('woff'),
       url('/fonts/Famulred.otf') format('opentype'),
       url('/fonts/Famulred.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


:root {
  --font-titles: 'AmoresaAged', sans-serif;
  --font-titles_secondary: 'Famulred', sans-serif;
  --font-body: 'GeneralSans', sans-serif;
  --font-subtitles: 'Boska', sans-serif; 
  --font-second-titles: 'Salazar', sans-serif;
  --text-color: #caccc0;
  --text-color_mainPage: #fff;
  --text-color_mainPage_secondary: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Ajuste correcto de la unidad rem (10px) */
}
